<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="lib.js"></script>
    <title>Document</title>
</head>
<body ng-app="myapp" ng-controller="myctrl">
        <script>
            var app = angular.module('myapp', []);
            app.controller('myctrl', function ($scope) {
            $scope.cal = function(){
                switch($scope.op){
                    case '+': $scope.res = $scope.a+$scope.b;
                        break;
                    case '-':  $scope.res =$scope.a-$scope.b;
                        break;
                    case '*': $scope.res = $scope.a*$scope.b;
                        break;
                    case '/':  $scope.res =  $scope.a/$scope.b;
                        break;
                }
            };
            });
        </script>
    <input type="number" ng-model="a" placeholder="1st number">
    <input type="number" ng-model="b" placeholder="2nd number"><br>
    <select ng-model="op">
        <option value="Default" >Default</option>
        <option value="+">Addition</option>
        <option value="-">Subtraction</option>
        <option value="*">Multiplication</option>
        <option value="/">Division</option>
    </select>
    <button ng-click="cal()">CLICK ME</button>
    {{res}}
</body>
</html>